<template><div>
    <div>My Weather App</div>

    <label for="location">Choose a location:</label>
<select @change ="onChange($event)" name="lopcation" id="location" form="carform" v-model="selectedOption">
  <option value="shu">Shuzenji</option>
  <option value="pg">Podgorica</option>
  <option value="bg">Beograd</option>
</select>

    <table class="styled-table">
    <thead>
        <tr>
            <th>Location</th>
            <th>Teamprerature</th>
            <th>Forcast</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for ="item in list" v-bind:key="item.weather[0].id">
            <td>{{item.sys.country}}</td>
            <td>{{item.main.temp}}</td>
            <td>{{item.weather[0].main}}</td>
        </tr>
        
    </tbody>
</table>
          </div>
</template>


<script>
import axios from 'axios';


export default ({
    data(){
        return {
        list:undefined,
        selectedOption:"shu"}
    },
   
 mounted(){
     axios.get('https://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&appid=472e1a2ec9b26cc8b5dfd9c71911846f')
     .then((resp) => {
         this.list = [resp.data]
         console.log(resp.data.main.temp)
     }
     )
 },

 methods:{
     onChange(event){
         if (this.selectedOption == "pg")
            this.getWeatherPodgorica()
         else if(this.selectedOption == "bg")
            this.getWeatherBeograd()
        else if(this.selectedOption == "shu")
         this.getWeatherShu()

     },
     getWeatherPodgorica(){
         axios.get('https://api.openweathermap.org/data/2.5/weather?lat=42&lon=19&appid=472e1a2ec9b26cc8b5dfd9c71911846f')
     .then((resp) => {
         this.list = [resp.data]
     }
 )},
 getWeatherBeograd(){
         axios.get('https://api.openweathermap.org/data/2.5/weather?lat=44&lon=20&appid=472e1a2ec9b26cc8b5dfd9c71911846f')
     .then((resp) => {
         this.list = [resp.data]
     })
},
getWeatherShu(){
         axios.get('https://api.openweathermap.org/data/2.5/weather?lat=35&lon=139&appid=472e1a2ec9b26cc8b5dfd9c71911846f')
     .then((resp) => {
         this.list = [resp.data]
     }
 )},
}})
</script>




<style scoped>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>